services:
  mysql:
    image: mysql:8.0.33
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: geoserver
    ports:
      - "3309:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8002:8080"